node_modules
# .env
# .env.local
**/node_modules
# Ignore .env everywhere except backend/.env
# !backend/.env
# **/.env.local
npm-debug.log*
yarn-error.log
pnpm-debug.log
.DS_Store
dist
frontend/dist
backend/dist
